.container {
    display: block;
    margin-left: 13%;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container .map {
	border: 2px solid black;
}
.container .map:focus {
	border-color: black;
}

body { 
    margin:0; 
    padding:0; 
}

#map {
    height: 800px;
    width: 1400px;
}

.button{
    font-size: 1.5em;
} 

body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}
p {
    font-weight: bold;
    font-size: medium;
}

#landing-image {
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, red , yellow);
    border-image-slice: 1;
  }