.container {
    display: block;
    margin-left: 13%;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.container .map {
	border: 2px solid black;
}
.container .map:focus {
	border-color: black;
}

body { 
    margin:0; 
    padding:0; 
}

#map {
    height: 800px;
    width: 1400px;
}

.button{
    font-size: 1.5em;
} 